@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
.titulo-noticias {
  font-size: 75px !important;
}

.anim-titulo {
  transition: all 1s;
  transition-timing-function: ease-in-out;
}
.anim-titulo:hover {
  letter-spacing: 5px;
  color: #24426e;
  text-shadow: 0px 0px 20px #135796 !important;
}

/*---SECCION NOTICIAS---*/
#noticias-padre-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 40px;
}
#noticias-padre-flex .noticia {
  /*Forma y estilos de cada noticia*/
  background-image: linear-gradient(0deg, rgb(56, 56, 56) 0%, rgb(138, 138, 138) 100%);
  margin: 0.5%;
  transition: all 0.5s;
}
#noticias-padre-flex .noticia:hover {
  transform: scale(105%);
  text-shadow: 0px 0px 20px #a8a8a8;
}

/*  T A B L E T  */
@media (min-width: 420px) and (max-width: 1199px) {
  /* Contenido de la página */
  .noticia {
    /*Forma y estilos de cada noticia*/
    margin: 0.5%;
    transition: all 0.5s;
    width: 30vw !important;
  }
  .noticia:hover {
    transform: scale(102%);
    text-shadow: 0px 0px 20px #a8a8a8;
  }
}
/*  M O B I L E  */
@media (max-width: 419px) {
  /*---SECCION NOTICIAS---*/
  .noticia {
    /*Forma y estilos de cada noticia*/
    background-image: linear-gradient(0deg, rgb(56, 56, 56) 0%, rgb(138, 138, 138) 100%);
    margin: 0.5%;
    transition: all 0.5s;
    width: 30vw !important;
  }
  .noticia:hover {
    transform: scale(102%);
    text-shadow: 0px 0px 20px #a8a8a8;
  }
}
/*Productos */
#container-list {
  background-color: rgba(99, 94, 119, 0.082);
}

.spec {
  font-size: 100% !important;
}

/*  T A B L E T  */
@media (min-width: 420px) and (max-width: 1199px) {
  /*Productos - Carrito*/
  .titulo-spec {
    font-size: 1.5vw !important;
  }

  #titulo-specs-main {
    font-size: 2vw !important;
  }
}
/*  M O B I L E  */
@media (max-width: 419px) {
  /*Productos - Carrito*/
  .titulo-spec {
    font-size: 10px !important;
    margin-bottom: 5px !important;
  }

  #titulo-specs-main {
    font-size: 10px !important;
  }
}
.bg-login {
  background-image: url(../../assets/img/bgb.jpg);
  height: 80vh;
  background-size: cover;
}

#info-login-container {
  height: 80%;
  width: 80%;
  backdrop-filter: saturate(185%) blur(25px);
  background-color: rgba(0, 0, 0, 0.349);
}
#info-login-container .input-login {
  width: 50% !important;
}
#info-login-container #bottom-login {
  width: 100%;
  color: white;
}

/*  T A B L E T  */
@media (min-width: 420px) and (max-width: 1199px) {
  /*Login - Registro*/
  #bottom-login {
    font-size: 15px;
  }

  .input-login {
    font-size: 8px;
  }
}
/*  M O B I L E  */
@media (max-width: 419px) {
  /*Login - Registro*/
  #bottom-login {
    font-size: 12px;
  }

  .input-login {
    font-size: 8px;
  }
}
.titulo-nosotros {
  font-size: 50px !important;
}

.titulo-localizacion {
  font-size: 55px !important;
}

#historia {
  padding-bottom: 20px;
  background-image: url(../../assets/img/bgc-hst.jpg);
  background-size: cover;
  box-shadow: 0px 0px 20px black;
  color: white;
  max-width: 100%;
}
#historia .ph-hs {
  width: 100%;
}
#historia .txt-hs {
  font-size: 120% !important;
}

/*Localizacion*/
#localizacion {
  background-image: linear-gradient(0deg, #222222 0%, #414141 90%, #1f1f1f 100%);
  height: 650px;
  box-shadow: 0px 0px 20px black;
}

.titulo-loc {
  font-size: 75px;
  text-shadow: 0px 0px 20px #8edfff;
  color: #b9e0ff;
}

iframe {
  box-shadow: 0px 0px 20px;
  border-radius: 5px;
  width: 90vw;
}

/*Formulario*/
#formulario {
  background-image: linear-gradient(0deg, #0c2135 0%, #222222 100%);
  height: 60vh;
  display: grid;
  align-content: center;
}

.formularioEstilo {
  height: 50vh;
}

.formulario-input {
  height: 100px;
  width: 75vw;
  border: none;
  background-color: #376ec2;
  margin: 10px;
  box-shadow: 0px 0px 10px #132436;
  color: white;
  text-align: center;
  border-radius: 5px;
}
.formulario-input:last-child {
  color: #b9e0ff;
  background-color: #2b4f86;
  width: 25%;
}
.formulario-input:focus {
  color: #24426e;
  background-color: #355a92;
}
.formulario-input:focus:last-child {
  background-color: #172f52;
}
.formulario-input::placeholder {
  color: #b9e0ff;
}

#textarea {
  height: 50%;
}

/*  T A B L E T  */
@media (min-width: 420px) and (max-width: 1199px) {
  /*Localizacion*/
  #localizacion {
    display: flex;
    height: 600px;
    box-shadow: 0px 0px 20px black;
  }

  .titulo-loc {
    font-size: 5vw;
  }

  iframe {
    width: 75vw;
  }
}
/*  M O B I L E  */
@media (max-width: 419px) {
  /*Localizacion*/
  iframe {
    width: 75vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(0deg, #222222 0%, #313131 100%);
  height: 100%;
  width: 100%;
  font-family: Prompt, Arial;
}

li {
  list-style-type: none;
}

.dropshadow {
  /*Sombra hover*/
  transition: all 0.2s;
}
.dropshadow:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.336));
}

.titulo-main, .titulo-noticias, .titulo-nosotros, .titulo-localizacion {
  font-size: 75px;
  text-shadow: 0px 0px 20px #8edfff;
  color: #b9e0ff;
  text-align: center;
  font-family: "Open Sans", sans-serif !important;
}

/* -----Header----- */
header {
  background-image: linear-gradient(0deg, #376ec2 0%, #24426e 100%) !important;
  /*Menu Navegable*/
}
header .logoHeader {
  width: 250px;
}
header .menu-selec {
  color: #fff !important;
  font-size: 18px;
  transition: all 0.2s;
}
header .menu-selec:hover {
  color: #b9e0ff !important;
  text-shadow: 0px 0px 5px black;
}

/*ANIMACIONES*/
.startup-anim {
  animation-name: startup;
  animation-duration: 1s;
}

@keyframes startup {
  from {
    transform: translateY(-50px);
    opacity: 5%;
  }
  to {
    transform: translateY(0);
  }
}
/*--------------FOOTER------------- */
footer {
  background-image: linear-gradient(0deg, #24426e 0%, #376ec2 100%);
  width: 100%;
  display: grid;
  grid-template-areas: "text logo socialmedia";
  grid-template-columns: 1fr 1fr 1fr;
}
footer .footer-1 {
  grid-area: text;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-left: 1px solid black;
  padding: 5%;
}
footer .footer-1 .developer {
  color: #132436;
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}
footer .footer-1 .developer:hover {
  color: #b9e0ff;
  text-shadow: 0px 0px 5px #132436;
}
footer .footer-2 {
  grid-area: logo;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-left: 1px solid black;
  padding: 5%;
}
footer .footer-2 .logoFooter {
  width: 50%;
}
footer .footer-3 {
  grid-area: socialmedia;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-left: 1px solid black;
  padding: 5%;
}
footer .color-instagram {
  color: #522b68 !important;
  filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
  font-weight: 500;
}
footer .color-instagram:hover {
  color: black !important;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.37));
}
footer .color-facebook {
  color: #1f3053 !important;
  filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
  font-weight: 500;
}
footer .color-facebook:hover {
  color: black !important;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.37));
}
footer .color-youtube {
  color: #ff0000 !important;
  filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
  font-weight: 500;
}
footer .color-youtube:hover {
  color: black !important;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.37));
}

/*  T A B L E T  */
@media (min-width: 420px) and (max-width: 1199px) {
  .logoHeader {
    width: 170px !important;
  }

  footer .footer-1 {
    font-size: 85%;
  }
  footer .footer-2 .logoFooter {
    width: 85%;
  }
  footer .footer-3 {
    flex-direction: column;
    font-size: 100%;
  }
}
/*  M O B I L E  */
@media (max-width: 419px) {
  /*Header*/
  .menu-selec {
    font-size: 12px;
  }

  .logoHeader {
    width: 150px !important;
  }

  /*Footer*/
  footer .footer-1 {
    font-size: 85%;
  }
  footer .footer-2 .logoFooter {
    width: 100%;
  }
  footer .footer-3 {
    flex-direction: column;
    font-size: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
