// VARIABLES
$celeste: #376ec2;
$celeste-dark: #24426e;
$celeste-darker: #132436;
$celeste-light: #b9e0ff;

// MIXIN
@mixin hw ($alto, $ancho) {
    height: $alto;
    width: $ancho;
}

//MAP
$redescolor: (
 instagram: #522b68,
 facebook: #1f3053,
 youtube: #ff0000,
);


// IMPORT
@import "noticias";
@import "productos";
@import "user";
@import "contacto";
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

//ESTILOS GENERALES 
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(0deg, #222222 0%, #313131 100%);
    @include hw (100%, 100%);
    font-family: Prompt, Arial;
} 

li {
    list-style-type: none;
}

.dropshadow { /*Sombra hover*/
    transition: all .2s;
    &:hover {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.336));
    }
}


.titulo-main {
    font-size: 75px;
    text-shadow: 0px 0px 20px #8edfff;
    color: $celeste-light;
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
}

/* -----Header----- */
header { 
    background-image: linear-gradient(0deg, $celeste 0%, $celeste-dark 100%) !important;
    .logoHeader {
        width: 250px;
    }
    /*Menu Navegable*/
    .menu-selec {
        color: #fff !important;
        font-size: 18px;
        transition: all .2s;
        &:hover {
            color: $celeste-light !important;
            text-shadow: 0px 0px 5px black;
        }    
    }
}
/*ANIMACIONES*/
.startup-anim {
    animation-name: startup;
    animation-duration: 1s;
}

@keyframes startup {
from {
    transform: translateY(-50px);
    opacity: 5%;
}
to {
    transform: translateY(0);
}
}


/*--------------FOOTER------------- */
@mixin footer {
    @include hw(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 1px solid black;
    padding: 5%;
}

footer {
    background-image: linear-gradient(0deg, $celeste-dark 0%, $celeste 100%);
    width: 100%;
    display: grid;
    grid-template-areas: 
    "text logo socialmedia";
    grid-template-columns: 1fr 1fr 1fr;
    .footer-1 {
        grid-area: text;
        font-weight: 500;
        @include footer;
    .developer { 
        color: #132436;
        text-decoration: none;
        font-weight: bolder;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $celeste-light;
            text-shadow: 0px 0px 5px $celeste-darker;
            }
        }
    }
    .footer-2 {
    grid-area: logo;
    @include footer;
    .logoFooter {
        width: 50%;
    }
    }
    .footer-3 {
    grid-area: socialmedia;
    @include footer;
    }
    @each $redsocial, $colored in $redescolor {
        .color-#{$redsocial} {
            color: $colored !important;
            filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
            font-weight: 500;
            &:hover {
                color: black !important;
                filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.37));
            }
        }
}
}

/*  T A B L E T  */
@media (min-width: 420px) and (max-width: 1199px) {
    .logoHeader {
        width: 170px !important;
    }

footer {
    .footer-1 {
        font-size: 85%;
    }
    .footer-2 {
        .logoFooter {
            width: 85%;
        }
    }
    .footer-3 {
       flex-direction: column; 
       font-size: 100%;
    }
}
}

/*  M O B I L E  */
@media  (max-width: 419px) {
    /*Header*/
    .menu-selec {
        font-size: 12px;
    }
    .logoHeader {
        width: 150px !important;
    }
    /*Footer*/
    footer {
        .footer-1 {
            font-size: 85%;
        }
        .footer-2 {
            .logoFooter {
                width: 100%;
            }
        }
        .footer-3 {
           flex-direction: column; 
           font-size: 100%;
        }
    }
    }