/* T O D O  el estilo de la pagina es sujeto a cambio para la proxima entrega del final!*/

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

/*Estilos Generales*/
body {
    background-image: linear-gradient(0deg, #222222 0%, #313131 100%);
    width: 100%;
    height: 100%;
    font-family: Prompt, Arial;
} 

li {
    list-style-type: none;
}

 .dropshadow { /*Sombra hover*/
    transition: all .2s;
}

.dropshadow:hover {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.336));
}

a {
    text-decoration: none !important;
}

footer {
    background-image: linear-gradient(0deg, rgb(52, 95, 160) 0%, rgb(62, 118, 202) 100%);
    width: 100%;
}

/* -----Header----- */
header { 
    background-image: linear-gradient(0deg, #376ec2 0%, #132436 100%) !important;
}

.logoHeader {
    width: 250px;
}
/*Menu Navegable*/
.menu-selec {
    color: #fff !important;
    font-size: 18px;
    transition: all .2s;
}


.menu-selec:hover {
    color: rgb(65, 149, 238) !important;
    text-shadow: 0px 0px 5px black;
}

/*ANIMACIONES*/
.startup-anim {
    animation-name: startup;
    animation-duration: 1s;
}

@keyframes startup {
from {
    transform: translateY(-50px);
    opacity: 5%;
}
to {
    transform: translateY(0);
}
}

/* Contenido de la página */
.titulo-main {
    font-size: 75px;
    text-shadow: 0px 0px 20px #8edfff;
    color: rgb(185, 224, 255);
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
}

.anim-titulo {
    transition: all 1s;
    transition-timing-function: ease-in-out;
}

.anim-titulo:hover {
    letter-spacing: 5px;
    color: #2c7ecf;
    text-shadow: 0px 0px 20px #135796 !important; 
    font-weight: 500;
}

.txt-hs {
    font-size: 100% !important;
}

/*---SECCION NOTICIAS---*/
#noticias-padre-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 40px
}
.noticia { /*Forma y estilos de cada noticia*/
    background-image: linear-gradient(0deg, rgb(56, 56, 56) 0%, rgb(138, 138, 138) 100%);
    margin: .5%;
    transition: all .5s;
}

.noticia:hover {
    transform: scale(105%);
    text-shadow: 0px 0px 20px #a8a8a8;
}
/*SECCION CONTACTO*/
#historia {
    padding-bottom: 20px;
    background-image: url(../assets/img/bgc-hst.png);
    background-size: cover;
    box-shadow: 0px 0px 20px black;
    color: white;
    max-width: 100%;
}

.ph-hs {
    width: 100%;
}

.txt-hs {
    font-size: 120% !important;
}

/*Localizacion*/
#localizacion {
    background-image: linear-gradient(0deg, #222222 0%, #414141 90%, #1f1f1f 100%);
    height: 650px;
    box-shadow: 0px 0px 20px black;
}

.titulo-loc {
    font-size: 75px;
    text-shadow: 0px 0px 20px #8edfff;
    color: rgb(185, 224, 255);
}

iframe {
    box-shadow: 0px 0px 20px;
    border-radius: 5px;
    width: 90vw;
}

/*Formulario*/
#formulario {
    background-image: linear-gradient(0deg, #0c2135 0%, #222222 100%);
    height: 60vh;
    display: grid;
    align-content: center;
}

.formularioEstilo {
    height: 50vh;
}    

.formulario-input {
    height: 100px;
    width: 75vw;
    border: none;
    background-color: rgb(76, 127, 202);
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(40, 73, 116);
    color: white;
    text-align: center;
    border-radius: 5px;
}
.formulario-input:last-child {
    color: rgb(146, 197, 255);
    background-color: rgb(43, 79, 134);
    width: 25%;
}

.formulario-input:focus {
    color: rgb(31, 59, 90);
    background-color: rgb(37, 65, 107);
}

.formulario-input::placeholder {
    color: rgb(146, 197, 255);
}

#textarea {
    height: 50%;
}

/*Login - Registrarse */

.bg-login {
    background-image: url(../assets/img/bgb.png);
    height: 80vh;
    background-size: cover;
}

#info-login-container {
    width: 80%;
    height: 80%;
    backdrop-filter: saturate(185%) blur(25px);
    background-color: rgba(0, 0, 0, 0.349);
}

.input-login {
    width: 50% !important;
}

#bottom-login {
    width: 100%;
    color: white;
}

/*Productos */
#container-list {
    background-color: rgba(99, 94, 119, 0.082);
}

.spec {
    font-size: 100% !important;
}

/*MEDIA QUERIES*/

/*  T A B L E T  */
@media (min-width: 420px) and (max-width: 1199px) {
/* Menu navegable */
.menu-selec {
    font-size: 12px;
}

/* Contenido de la página */
.noticia { /*Forma y estilos de cada noticia*/
    margin: .5%;
    transition: all .5s;
    width: 30vw !important;
}

.noticia:hover {
    transform: scale(102%);
    text-shadow: 0px 0px 20px #a8a8a8;
}
/*Seccion Contacto*/
/*Localizacion*/
#localizacion {
    display: flex;
    background-image: linear-gradient(0deg, #222222 0%, #414141 90%, #1f1f1f 100%);
    height: 600px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 20px black;
}

.titulo-loc {
    font-size: 5vw;
    text-shadow: 0px 0px 20px #8edfff;
    color: rgb(185, 224, 255);
}

iframe {
    box-shadow: 0px 0px 20px;
    border-radius: 5px;
    width: 75vw;
}

/*Login - Registro*/
#bottom-login {
    width: 100%;
    color: white;
    font-size: 15px;
}

.input-login {
    font-size: 8px;
}

/*Productos - Carrito*/
.titulo-spec {
 font-size: 1.5vw !important;   
}

#titulo-specs-main {
    font-size: 2vw !important;   
}
}

/*  M O B I L E  */
@media  (max-width: 419px) {
/*  Menu  navegable  */
.menu-selec {
    font-size: 12px;
}

.logoHeader {
    width: 150px;
}

/*---SECCION NOTICIAS---*/
.noticia { /*Forma y estilos de cada noticia*/
    background-image: linear-gradient(0deg, rgb(56, 56, 56) 0%, rgb(138, 138, 138) 100%);
    margin: .5%;
    transition: all .5s;
    width: 30vw !important;
}
.noticia:hover {
    transform: scale(102%);
    text-shadow: 0px 0px 20px #a8a8a8;
}
/*Seccion Contacto*/
/*Localizacion*/
iframe {
    width: 75vw;
}

/*Login - Registro*/
#bottom-login {
    width: 100%;
    color: white;
    font-size: 12px;
}

.input-login {
    font-size: 8px;
}

/*Productos - Carrito*/
.titulo-spec {
    font-size: 10px !important;   
    margin-bottom: 5px !important;
    font-weight: bolder;
   }
   
#titulo-specs-main {
    font-size: 10px !important;   
}

/*Footer*/
.copy-txt {
    font-size: 4vw ;
}
.logoFooter {
    width: 90% !important;
}

.socials {
    font-size: 4vw ;

}
}